<table class="additional-information">
    <thead>
        <tr>
            <th colspan="2">Additional Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Full market value of this Property</td>
            <td class="number"><%= market_value %></td>
        </tr>
        <tr>
            <td>Uniform percent used to calculate full market value</td>
            <td class="number">1.87</td>
        </tr>
    </tbody>
</table>
<ul>
    <li>You house's assessed <strong>total</strong> value is greater than that of <strong><%= total %></strong> of properties.</li>
    <li>You house's assessed taxable value for <strong>county</strong> taxes is greater than that of <strong><%= taxable_county %></strong> of properties.</li>
    <li>You house's assessed taxable value for <strong>village</strong> taxes is greater than that of <strong><%= taxable_village %></strong> of properties.</li>
    <li>You house's assessed taxable value for <strong>school</strong> taxes is greater than that of <strong><%= taxable_school %></strong> of properties.</li>
</ul>
