<form class="calculator calculator-advanced">
    <div class="form-field">
        <label for="total">Assessed total value</label>
        <input name="total" type="text" value="<%= total %>" pattern="[0-9]*" />
    </div>
    <div class="form-field">
        <label for="taxable_county">Assessed taxable value for county tax</label>
        <input name="taxable_county" type="text" value="<%= taxable_county %>" pattern="[0-9]*" />
    </div>
    <div class="form-field">
        <label for="taxable_village">Assessed taxable value for village tax</label>
        <input name="taxable_village" type="text" value="<%= taxable_village %>" pattern="[0-9]*" />
    </div>
    <div class="form-field">
        <label for="taxable_school">Assessed taxable value for school tax</label>
        <input name="taxable_school" type="text" value="<%= taxable_school %>" pattern="[0-9]*" />
    </div>
    <div class="form-field">
        <a href="#?advanced=false&total=<%= total %>">Simple version</a>
        <input type="submit" value="Go">
    </div>
</form>
